.nav-bar {
  height: 15vh;
  margin-bottom: 0;
  width: 102%;
  background-color: #005187 !important;
}
.nav-bar h1{
  color: #FFFFFF;
}
.flex-row{
  display: flex;
  align-items: center;
 
}
.logo-image{
  background-image: url("../../../../public/assets/images/logo-empresa.png");
  height: 100px;
  width: 110px;
  margin-top: 0;
  background-repeat: no-repeat;
}